@font-face {
  font-family: "iconfont"; /* Project id 2569343 */
  src: url('iconfont.woff2?t=1621938633054') format('woff2'),
       url('iconfont.woff?t=1621938633054') format('woff'),
       url('iconfont.ttf?t=1621938633054') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiajiantou-:before {
  content: "\e630";
}

.icon-arrowLeft-fill:before {
  content: "\e65f";
}

.icon-arrowRight:before {
  content: "\e65d";
}

.icon-groupsets_:before {
  content: "\e60b";
}

.icon-yujing:before {
  content: "\e619";
}

.icon-qukuai:before {
  content: "\e74a";
}

.icon-jiaoyijilu:before {
  content: "\e612";
}

.icon-subscriber-fill:before {
  content: "\ebf7";
}

